# Fichiers et dossiers générés par PyCharm
.idea/
*.iml
*.iws

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.env/
*.env

# Fichiers de logs
*.log

# Fichiers de configuration spécifiques à l'OS
.DS_Store
Thumbs.db

# Caches Jupyter Notebook
.ipynb_checkpoints

# Fichiers de distribution
dist/
build/
*.egg-info/

# Caches de tests
.pytest_cache/
.tox/

# Caches de coverage
.coverage
htmlcov/

# Configurations de linting
.mypy_cache/
.pyre/
ruff_cache/

# Autres fichiers temporaires
*.swp
*.swo
*.bak
*.tmp
*.old

# Ajouts perso
*.pdf
*.ini
*.zip
/logs/
/temp/
/tests/
/.venv/
/_divers/
/config.ini
/Flowcharts/
/VS_ModsUpdater/back_up/
/backup_mods/
/VS_ModsUpdater/PyInstaller/
/new_features.txt
/TODO_LIST.txt
/ROADMAP.txt
